{% extends 'base.html' %} {% block content %}

<div class="col-md-6 offset-md-3">
  <div class="card">
    <div class="card-header">
      <h2>Add Record</h2>
    </div>
    <div class="card-body">
      <form method="POST" action="{% url 'add_record'%}">
        {% csrf_token %} {{form.as_p}}
        <br />
        <a href="{% url 'home' %}" class="btn btn-dark">Back</a>
        <button type="submit" class="btn btn-secondary">Add Record</button>
      </form>
    </div>
  </div>

  {% endblock%}
</div>
